html {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #f4f0f3, #eaf3f7);
  background-attachment: fixed;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  padding: 64px 0;
}

strong {
  font-weight: 700;
}
